<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Employees</title>
</head>

<body>

<div class="table-responsive">
    <h3>Employees</h3>
    <table class="table table-striped">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Surname</th>
            <th scope="col">Role</th>
            <th scope="col">Capacity</th>
        </tr>

        <tr scope="col" th:each ="employee : ${employees}">
            <td th:text="${employee.name}">...</td>
            <td th:text="${employee.surname}">...</td>
            <td th:text="${employee.role}">...</td>
            <td th:text="${employee.capacity}">...</td>
            <td> <a th:href="${employee.url()}">Show</a></td>
        </tr>
    </table>
</div>

<a href="/employees/add" class="btn btn-primary">New employee</a>

</body>
</html>